* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'bpg_mrgvlovani_caps_2010';
    src: local('bpg_mrgvlovani_caps_2010'), local('Riesling'), url('fonts/bpg_mrgvlovani_caps_2010.ttf') format('truetype');
}

@font-face {
    font-family: 'bpg_glaho';
    src: local('bpg_glaho'), local('glaho'), url('fonts/bpg_glaho.ttf') format('truetype');
}
p {
    font-family: bpg_glaho;
}

a {
    text-decoration: none;
}

.bg {
    background-image:url('images/back3.jpg'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.start {
    align-self: center;
    margin-left: 15%;
    margin-right: auto;
}

.intro {
    padding: 20px;
    color: khaki;
}
.about {
    background-image:url('images/kakabadze.jpg'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
    justify-content: center;
    align-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
}

.me {
    margin-right: 15%;
    width: 30%;
    text-align: left;
    justify-content: flex-start;
}
.me h2 {
    padding: 10px;
    color: khaki;
    display: inline-block;
}

.me p {
    padding: 15px;
    background-color: darkkhaki;
    color: black;
    max-height: 500px;
    border-radius: 10px;
}

.start h1 {
    font-family: 'bpg_mrgvlovani_caps_2010', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;

}


h2 {
    font-family: 'bpg_mrgvlovani_caps_2010', Arial, sans-serif;
}

.portfolio {
    position: relative;
    height: 100vh;
    background-color: khaki;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.arqitectura {
    background-image: url("images/back4.jpg"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    color: khaki;
    display: flex;
    min-height: 50vh;
    flex: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.shemoqmedeba {
    background-image: url("images/architecture.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    color: khaki;
    display: flex;
    min-height: 50vh;
    flex: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
button {
    position: relative;
    width: 100px;
    height: 25px;
}
@media only screen and (max-width: 800px) {
    .portfolio {
        flex-direction:column;
    }
    .arqitectura {
        width: 100%;
        height: 500px;
    }
    .shemoqmedeba {
        width: 100%;
        height: 500px;
    }
    .about {
        min-height: auto;
    }

    .me {
        width: 80%;
        height: auto;
        justify-items: center;
        margin-right: 20px;
        align-items: center;
    }

    .contacts {
        flex-direction: column;
        padding: 20px;
    }
}
.contacts {
    display: flex;
    min-height: 20vh;
    align-items: center;
    justify-content: space-around;
    background-color: khaki;
    color: black;
}

.socialicons {
    width: 36px;
    height: auto;
    margin: 20px;
}

footer {
    min-height: 50px;
    background-color: #343434;
}
.footer {
    min-height: 50px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    color: darkkhaki;
}


.conDiv {
    border: solid 1px black;
    padding: 20px;
}


.window {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.window-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
.header{
    background-color: #33333300;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: beige;
    background-color: black;
    padding: 15px;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: beige;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
                0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
